/* 光点闪烁样式 */
.light-container {
  min-height: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  color: #2d3436;
  text-shadow: 0 0 12px rgba(241,196,15,.8);
}